* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8eef9;
  color: #0f1a36;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

header {
  width: 100%;
  background-color: #253f86;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  width: 55px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #f1c453;
}

.hero {
  width: 100%;
  height: 70vh;
  background-image: url("../images/dawit-Be9l24zYaa4-unsplash.jpg");
  opacity: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 82px;
  background-size: cover;
  background-position: center;
}

.hero-content {
  text-align: center;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #24479f;
}

.tagline {
  color: #e94560;
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: bold;
}

.inventory-button {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #253f86;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.inventory-button:hover {
  background-color: #1d336b;
  transform: scale(1.05);
}

.content {
  max-width: 900px;
  margin: 4rem auto;
  padding: 1rem 2rem;
  text-align: center;
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #253f86;
}

.content p {
  font-size: 1.25rem;
  color: #0f1a36;
}

footer {
  background-color: #1d336b;
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: white;
  width: 100%;
}

footer a {
  color: #ffffff;
  display: inline-block;
  margin: 1rem;
  font-size: 1.1rem;
}

footer a:hover {
  color: #f1c453;
}

footer i {
  font-size: 2.8rem;
  margin: 15px 10px;
  cursor: pointer;
}

footer i:hover {
  color: #f1c453;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  .logo {
    width: 50px;
  }

  .hero-content h1 {
    font-size: 2.3rem;
  }

  .tagline {
    font-size: 1.2rem;
  }
}

@media (min-width: 801px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }
}
